* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: url("../src/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.container {
  margin-top: 64px;
  width: 70vw;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  border: dotted;
  border-color: rgba(210, 0, 190, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 40px 0px;
  color: rgba(215, 30, 200, 1);
  font-size: clamp(16px, 4vw, 28px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-cont {
  display: flex;
  flex-direction: row;
  margin: 28px 20px;
  margin-top: 0;
  transition: all 0.5s;
}

.select-cont .txt {
  color: #ccc;
  font-size: 18px;
  margin-right: 15px;
}

textarea {
  all: unset;
  width: 50%;
  background-color: #444;
  padding: 8px;
  margin: 0 0 28px 0;
  color: #ccc;
  border-radius: 15px;
}

@keyframes vmove {
  100%,
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
}

.generate-button {
  margin: 28px 20px;
  margin-top: 0;
  height: 40px;
  width: 80px;
  cursor: pointer;
  background-color: #00ec27;
  border: none;
  border-radius: 15px;
  font-weight: normal;
  font-size: 16px;
  transition: all 0.3s ease;
}

.generate-button:hover {
  opacity: 0.8;
  animation: vmove 1s ease 1;
}

.generate-button:active {
  transform: scale(0.9);
  animation: none;
}

.result-container {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.result-image {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  border-radius: 10px;
}

.result-image:hover {
  opacity: 50%;
}

.info-text {
  margin-top: 10px;
  position: static;
  color: #ccc;
  text-align: center;
}

@media (max-width: 600px) {
  .select-cont {
    flex-direction: column;
  }
  .generate-button {
    height: 40px;
  }
  .result-image {
    max-height: 250px;
  }
  .result-container {
    height: auto;
  }
}

.error-message {
  color: red;
  width: 50%;
}

.loading {
  margin-bottom: 150px;
  font-size: clamp(16px, 4vw, 28px);
  color: #ccc;
}
